@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
main {
  padding-top: 4rem;
}

.searchAndFilters {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.searchAndFilters .searchBarDiv {
  width: 100%;
  position: relative;
  box-shadow: 0 0 1rem 0 rgba(128, 128, 128, 0.1);
  background: #fafafa;
}
.searchAndFilters .searchBarDiv > i {
  position: absolute;
  height: 100%;
  width: 6rem;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.searchAndFilters .searchBar {
  border: none;
  background-color: #fafafa;
  height: 3.5rem;
  margin-left: 6rem;
  width: calc(100% - 6rem);
  border-radius: 0.2rem;
  outline-color: #858585;
}
.searchAndFilters .filterDropdown {
  position: relative;
  width: 40%;
  background-color: #fafafa;
  font-weight: 600;
  align-self: flex-start;
  margin: 2rem 0;
  margin-bottom: 3rem;
  padding: 2px;
}
.searchAndFilters .filterDropdown > h2 {
  font-size: 1rem;
  font-weight: inherit;
  margin: 0;
  padding: 1rem 1rem;
  padding-right: 5rem;
  box-shadow: 0 0 1rem 0 rgba(128, 128, 128, 0.1);
  cursor: pointer;
}
.searchAndFilters .filterDropdown > h2::after {
  content: "\f078";
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 2rem;
}
.searchAndFilters .filterDropdown > ul {
  position: absolute;
  top: 2.8rem;
  list-style-type: none;
  padding: 0;
  height: 0;
  width: 100%;
  background-color: #fafafa;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.searchAndFilters .filterDropdown > ul > li {
  cursor: pointer;
  margin: 0.3em 0;
  padding: 0.5em 0;
  padding-left: 1em;
  transition: 0.2s;
}
.searchAndFilters .filterDropdown > ul > li:hover {
  color: #fafafa;
  background-color: #2b3945;
}
.searchAndFilters .filterDropdown > ul.open {
  height: 16.5rem;
}

@media screen and (min-aspect-ratio: 14/16) {
  .searchAndFilters {
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .searchAndFilters .searchBarDiv {
    width: 20rem !important;
  }
  .searchAndFilters .filterDropdown {
    margin: 0;
    width: 20rem;
  }
}
.countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

.country {
  position: relative;
  border-radius: 2rem;
  width: min(100%, 30rem);
  overflow: hidden;
  margin-bottom: 3rem;
  cursor: pointer;
  background: linear-gradient(160deg, #fafafa, rgba(0, 0, 0, 0.02));
  transform: translateY(-0.1em);
  box-shadow: -0.2em -0.2em 1em 0 white, 0.2em 0.2em 0.6em 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s, transform 0.1s;
  background-color: #fafafa;
}
.country:hover {
  transform: translateY(0);
  box-shadow: -0.1em -0.1em 0.4em 0 white, 0.1em 0.1em 0.4em 0 rgba(0, 0, 0, 0.1);
}
.country:active {
  transform: translateY(0.1em);
  box-shadow: inset -0.3em -0.3em 0.5em 0 rgba(255, 255, 255, 0.5), inset 0.2em 0.2em 0.3em 0 rgba(0, 0, 0, 0.1);
}
.country::after {
  content: "VIEW COUNTRY";
  color: #fafafa;
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 65%;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
}
.country:hover::after {
  opacity: 100%;
}
.country > * {
  padding: 0 2rem;
}
.country > img {
  padding: 0;
  width: 100%;
  transition: 0.3s;
}
.country:last-of-type {
  margin-bottom: 0;
}
.country:hover > img {
  filter: brightness(0.8);
}

@media screen and (min-aspect-ratio: 14/16) {
  .countries {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 0;
  }

  .country {
    width: 20rem;
    margin: 1rem !important;
  }
}
.countryInfo {
  margin-bottom: 2rem;
}

.detail > h3 {
  display: inline;
}
.detail > span {
  font-weight: 600;
}

.pageNavigation {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.pageNavigation > button {
  margin: 0 20vw;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
}

/*# sourceMappingURL=allCountries.css.map */
