@use "var.scss";


main {
	padding-top: 4rem;
}

.searchAndFilters {
	width: 100%;
	display: flex;
	flex-direction: column;
	
	.searchBarDiv {
		width: 100%;
		position: relative;
		box-shadow: 0 0 1rem 0 hsla(0, 0%, 50%, 10%);
		background: var.$white;

		> i {
			position: absolute;
			height: 100%;
			width: 6rem;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}

	.searchBar {
		border: none;
		background-color: var.$white;
		height: 3.5rem;
		margin-left: 6rem;
		width: calc(100% - 6rem);
		border-radius: 0.2rem;
		outline-color: var.$gray200;
	}

	.filterDropdown {
		position: relative;
		width: 40%;
		background-color: var.$white;
		font-weight: var.$fontMedium;
		align-self: flex-start;
		margin: 2rem 0;
		margin-bottom: 3rem;
		padding: 2px;
		
		> h2 {
			font-size: 1rem;
			font-weight: inherit;
			margin: 0;
			padding: 1rem 1rem;
			padding-right: 5rem;
			box-shadow: 0 0 1rem 0 hsla(0, 0%, 50%, 10%);
			cursor: pointer;

			&::after {
				content: "\f078";
				width: 1rem;
				height: 1rem;
				position: absolute;
				right: 2rem;
			}
		}
		
		> ul {
			position: absolute;
			top: 2.8rem;
			list-style-type: none;
			padding: 0;
			height: 0;
			width: 100%;
			background-color: var.$white;
			z-index: 1;
			overflow: hidden;
			transition: 0.5s;

			> li {
				cursor: pointer;
				margin: 0.3em 0;
				padding: 0.5em 0;
				padding-left: 1em;
				transition: 0.2s;

				&:hover {
					color: var.$white;
					background-color: var.$gray700;
				}
			}

			&.open {
				height: 16.5rem;
			}
		}
	}
}


@media screen and (min-aspect-ratio: 14/16) {
	.searchAndFilters {
		width: 90%;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2rem;

		.searchBarDiv {
			width: 20rem !important;
		}

		.filterDropdown {
			margin: 0;
			width: 20rem;
		}
	}
}

.countries {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 2rem;
}

.country {
	position: relative;
	border-radius: 2rem;
	width: min(100%, 30rem);
	overflow: hidden;
	margin-bottom: 3rem;
	cursor: pointer;
	@include var.neumorphic();
	background-color: var.$white;

	&::after {
		content: "VIEW COUNTRY";
		color: var.$white;
		font-weight: var.$fontMedium;
		font-size: 2rem;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		width: 100%;
		height: 65%;
		text-align: center;
		opacity: 0;
		transition: 0.3s;
	}

	&:hover::after {
		opacity: 100%;
	}

	> * {
		padding: 0 2rem;
	}

	> img {
		padding: 0;
		width: 100%;
		transition: 0.3s;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	&:hover > img {
		filter: brightness(0.8);
	}
}

@media screen and (min-aspect-ratio: 14/16) {
	.countries {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
		margin: 0;
	}
	.country {
		width: 20rem;
		margin: 1rem !important;
	}
}

.countryInfo {
	margin-bottom: 2rem;
}

.detail {

	> h3 {
		display: inline;
	}
	
	> span {
		font-weight: var.$fontMedium;
	}
}

.pageNavigation {
	margin: 2rem 0;
	display: flex;
	justify-content: center;

	> button {
		margin: 0 20vw;
		padding: 0.5rem 1.5rem;
		font-weight: var.$fontMedium;
	}
}