@use "var.scss";


.countries {
	display: flex;
	flex-wrap: wrap;
	margin: 0 2rem;
}

.country {
	background: var.$white;
	border-radius: 0.5rem;
	overflow: hidden;
	margin-bottom: 3rem;

	& > * {
		padding: 0 2rem;
	}

	& > img {
		padding: 0;
		width: 100%;
	}
}